@import url(./normalize.css);
@import url(./base.css);
@import url(./mouse-follower.min.css);

/* PRELOADER */
.preloader {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
  overflow: hidden;
  will-change: top;
}

.preloader .inner {
  display: inline-block;
  position: relative;
  z-index: 1;
  animation-name: preloader-inner;
  animation-duration: 0.8s;
  transition: all ease 0.8s;
  will-change: transform;
}

.preloader .inner figure {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  margin-bottom: 0;
}

.preloader .inner figure img {
  height: 70px;
}

.preloader .inner small {
  width: 100%;
  display: block;
  color: black;
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
}

.preloader .inner .progress-bar {
  background: none;
}

.preloader svg path {
  animation-name: preloader-svg;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 0.7s;
  animation-play-state: paused;
  animation-fill-mode: forwards;
  will-change: transform;
}

/* BEFORE PAGE LOADED */
header {
  transform: translateY(-100%);
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  transition-delay: 0.2s;
  padding: 1rem 0;
  will-change: transform;
}

.bannerSec {
  transform: translateY(-100%);
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  transition-delay: 0.125s;
  opacity: 0;
  will-change: transform;
}

/* PAGE LOADED */
.page-loaded .preloader {
  top: 100%;
}

.page-loaded .preloader .inner {
  transform: translateY(50px);
  opacity: 0;
}

.page-loaded .preloader svg path {
  animation-play-state: running;
}

.page-loaded header {
  transform: translateY(0);
}

.page-loaded .bannerSec {
  transform: translateY(0);
  opacity: 1;
}


/* PAGE TRANSITION */
.page-transition {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: -100%;
  z-index: 99;
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.7s;
  overflow: hidden;
  will-change: top;
}

.page-transition.active {
  top: 0;
}

.page-transition.active svg path {
  animation-name: page-transition;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.preloader svg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  fill: url(#preloader-gradient);
}

@-webkit-keyframes preloader-svg {
  0% {
    d: path(
      'M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z'
    );
  }

  50% {
    d: path(
      'M0,230 C305.333333,100 625.333333,0 960,0 C1294.66667,0 1614.66667,100 1920,300 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,960 305.333333,1080 0,1080 L0,230 Z'
    );
  }

  100% {
    d: path(
      'M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z'
    );
  }
}

@-webkit-keyframes preloader-inner {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes page-transition {
  0% {
    d: path(
      'M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,980 1294.66667,930 960,930 C625.333333,930 305.333333,980 0,1080 L0,0 Z'
    );
  }

  100% {
    d: path(
      'M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z'
    );
  }
}

#preloader linearGradient stop {
  transition: all 0.3s linear;
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .navbar-nav {
  display: flex;
  align-items: center;
  gap: 0 2.5rem;
}

.navbar .navbar-nav + .navbar-nav {
  margin: 0 3rem;
}

.navbar .navbar-nav .nav-item a {
  color: var(--light-color);
  text-transform: capitalize;
  font-size: 1rem;
}

/* Line Mask */
.splitLines {
  font-kerning: none;
}

.splitLines .content {
  color: rgba(255, 255, 255, 0.5);
}

.splitLines .mask {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 100% 50%;
  opacity: 1;
  will-change: transform;
}

.splitLines :is(.line, .word) {
  position: relative;
}

/* Banner Section Starts */
.bannerSec {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.bannerSec h2 {
  font-size: min(1.5rem, 2rem);
  color: #b4bacd;
  font-weight: 500;
  font-stretch: 110%;
  margin: 0 0 1rem;
}

.bannerSec h2 span {
  display: block;
  font-size: clamp(1.5rem, 10vw, 6.25rem);
  font-weight: 700;
  font-stretch: 130%;
  margin-top: 10px;
  color: var(--text-color-light);
}

.bannerSec h3 {
  font-size: min(1.5rem, 2rem);
  color: #b4bacd;
}

.bannerSec h3 span {
  position: relative;
  display: inline-block;
}

.bannerSec .themeBtn {
  margin-top: 2.5rem;
  padding: 0.5em 1em 0.5em 2em;
}

.scroll-across {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  transform: translateY(40px);
  pointer-events: none;
}

.scroll-across h1 {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: 17.5vw;
  font-size: max(9em, 15vw);
  font-weight: 600;
  white-space: nowrap;
  pointer-events: none;
  margin: 0;
  padding: 0;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to top, var(--dark-color), #323232);
  will-change: transform;
  opacity: 0.5;
}

.scroll-across h1 .gradient-2 {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to bottom, var(--dark-color), #323232);
  will-change: transform;
  font-weight: 600;
}

.scrollTo {
  writing-mode: vertical-lr;
  position: absolute;
  top: 50%;
  left: 5vh;
  transform: translateY(-50%);
  color: var(--accent-color);
  letter-spacing: 2px;
  display: flex;
  gap: 1rem;
}

@-webkit-keyframes wheel {
  0% {
    top: 20%;
    opacity: 1;
  }

  50% {
    top: 50%;
  }

  100% {
    top: 80%;
    opacity: 0;
  }
}

@keyframes wheel {
  0% {
    top: 20%;
    opacity: 1;
  }

  50% {
    top: 50%;
  }

  100% {
    top: 80%;
    opacity: 0;
  }
}

.mouse-wheel {
  position: relative;
  text-align: center;
  padding: 0 15px 0 0;
  display: block;
}

.mouse {
  position: relative;
  width: 1.5em;
  height: 2.5em;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
  border: 2px solid #fff;
}

.mouse:before {
  content: '';
  position: absolute;
  width: 0.125em;
  height: 0.5em;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #fff;
  animation: wheel 1.5s infinite ease-out;
}

/* Banner Section Ends */

/* About Section Starts */
.aboutSec {
  display: flex;
  align-items: center;
}

.aboutSec h2 {
  font-size: clamp(1.5rem, 7vw, 2.8rem);
  font-weight: 700;
  line-height: max(1.5, 1.2);
  text-transform: uppercase;
  color: var(--light-color);
}

/* About Section Ends */

/* Selected Section Starts */
.workSec .workBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0;
  border-top: 2px solid rgb(183 80 255 / 20%);
}

.workSec .workBox:last-of-type {
  padding-bottom: 0;
}

.workSec .workBox a {
  font-size: clamp(1.75rem, 5vw, 4em);
  font-weight: 700;
  text-transform: capitalize;
  color: currentColor;
}

.workSec .workBox p {
  text-transform: uppercase;
  font-weight: 300;
  color: var(--accent-color);
  font-size: min(0.75rem, 1rem);
}

.workSec .workBox .workContent {
    display: flex;
    justify-content: space-between;
}

/* Selected Section Ends */

.lets_talksec h2 {
  /* color: var(--dark-color); */
  font-size: clamp(3.125em, 13vw, 15.32em);
  font-weight: 900;
  font-variation-settings: 'ital' 0, 'wdth' 125;
}

.lets_talksec .theme-btn {
  font-size: max(1.125rem, 1.75rem);
  padding: 0.5em;
}

.lets_talksec .theme-btn .btn-bg {
  border-radius: 100px;
}

.lets_talksec .email-details {
  margin-top: min(4em, 8em);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 2em;
}

.lets_talksec .email-text {
  font-size: clamp(1.125rem, 5vw, 3rem);
  font-weight: 700;
  font-stretch: 120%;
  color: var(--dark-color);
}

.footerSec {
  background-color: var(--dark-color);
  position: relative;
  padding-top: var(--section-padding);
  padding-bottom: 3rem;
}

.footerSec .row {
  justify-content: space-between;
}

.footerSec .flex-col {
  display: flex;
  width: auto;
  justify-content: space-between;
}

.footerSec .flex-col:first-of-type {
  gap: 0 3rem;
}

.footerSec h5 {
  color: var(--accent-color);
  font-weight: 500;
}

.footerSec h5 span {
  color: var(--light-color);
  display: block;
  font-size: min(0.875rem, 1rem);
  padding-top: 1em;
}

.footerSec ul {
  display: flex;
  align-items: center;
  gap: 0 3rem;
}

.footerSec ul.right {
  justify-content: end;
}

.footerSec ul li a {
  font-size: min(0.875rem, 1.125rem);
  color: var(--text-color-light);
  text-transform: capitalize;
}

.footer-bg {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

}

.footer-bg path {
  transform-box: fill-box;
  transform-origin: center;
  fill: #fff;
  will-change: transform;
}

@media (max-width: 1600px) {
}

@media (max-width: 1445px) {
}

@media (max-width: 1366px) {
}

@media (max-width: 1199.98px) {
  .scrollTo {
    writing-mode: unset;
    top: auto;
    bottom: 20%;
    transform: translateX(-50%);
    align-items: center;
    left: 50%;
  }

  .scrollTo > span {
    display: none;
  }

  .scroll-across {
    transform: translateY(20px);
  }
}

@media (max-width: 1024.98px) {
  .bannerSec .container {
    margin: auto;
  }

  .scrollTo {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .workSec .workBox .workContent {
    flex-direction: column;
}
}

@media (max-width: 575.98px) {
  .theme-btn {
    font-size: 0.75rem;
  }

  .navbar .navbar-nav {
    gap: 0 1.25rem;
  }

  .lets_talksec .email-details {
    gap: 0 1rem;
  }

  .footerSec .flex-col {
    margin-top: 2rem;
  }

  .footerSec .flex-col + .flex-col {
    order: 1;
  }

  .md-visible {
    display: none !important;
  }

  .xs-visible {
    display: block !important;
  }
}

@media (max-width: 320.98px) {
}